h1#cabecalho{

    background-color: darkcyan;

    text-align: center;

    color: aquamarine;

    font-family: 'Times New Roman';

}

th{

    color: darkcyan;

}
#rock{text-align: center;
}
#roll{margin-left: 45%}
#pop{margin-left: 46%}
